body{
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cardTitle{
  background-color: #e8f0f2;
  padding: 20px;
}
.txt{
  margin-bottom: 30px;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.text{
  margin-top: 15px;
}
.bt{
  border: 2px solid black  !important;
  margin-left: 33%;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 20%;
  height: 70px !important;
  border-radius: 0px !important;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.show{
  background-color: white;
  border-radius: 0px !important;
  border: 1px solid gray;
  width: 150px;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  background-color: rgba(12, 8, 245, 0.87);

}
.dropdown>.dropdown-menu a{
  color: white;
  background-color: rgba(12, 8, 245, 0.87);
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none; 
   color: black;
}
.ico:hover {
  background: white;
    color: black;
}
.content{
  padding: 20px;
}

.fa-instagram {
  background: rgba(128, 128, 128, 0.329);
  color: white !important;
}
footer{
  background-color: black;
  color: white;
 padding: 15px;
}
.tain{
  margin-top: 5%;
}
ul{
  list-style-type: none !important;
}
.sign{
  border: 1px solid blue;
  background-color: transparent;
  padding: 5%;
  margin-bottom: 4%;
}
.up{
  border: 1px solid blue;
  background-color: blue;
  padding: 5%;
  margin-right: 12px;
  margin-bottom: 4%;
}
.fa-facebook {
  background: rgba(128, 128, 128, 0.329);
  color: white;
}

.fa-twitter {
  background: rgba(128, 128, 128, 0.329);
  color: white;
}
.ico {
  padding: 30px;
  font-size: 50%;
  width: 2px !important;
  height: 3px;
  /* text-align: center; */
  text-decoration: none !important;
  /* margin: 5px 2px; */
  border-radius: 50%;
}
